* {
  margin: 0;
  padding: 0;
}

::selection {
  color: #5b0000;
  background: rgb(10, 228, 199);
}

body {
  background: #011d38;
  align-items: center;
}

.title {
  margin: 12px;
  padding: 8px 0 19px 0;
  height: 100px;
  color: aliceblue;
  text-align: center;
}

.menu {
  margin: 18px 0 39px 0;
  padding: 9px;
  text-align: center;
  position: relative;
}

.menu li {
  margin: 7px;
  list-style-type: none;
  display: inline;
}

.menu li a {
  text-align: center;
  padding: 6px;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid #fefefe;
  border-radius: 24px;
}

.menu li a:hover {
  box-shadow: 1px 2px 3px 1px white;
  border-radius: 10px;
}

.explanation,
.question,
.HTML-filter {
  margin: 47px;
  padding: 30px;
  color: aliceblue;
}

#buttons {
  margin: 43px;
  padding: 20px;
  color: rgb(6, 255, 251);
  height: 400px;
  position: relative;
  text-align: center;
}
#buttons h2 {
  margin: 22px;
}

.showArea {
  /* the area where the Date and Time is shown */
  padding: 9px;
  position: absolute;
  width: 255px;
  height: 54px;
  border: 1px solid aqua;
}

.date_and_time {
  color: aliceblue;
  width: 80%;
}

.closeDate {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  color: white;
  background: transparent;
  border: none;
}

.closeDate:hover {
  font-size: 20px;
}

.gameArea {
  position: relative;
  left: 35%;
  border: 1px solid #fefefe;
  width: 400px;
  height: 200px;
  padding: 5px;
}

.gameArea img {
  width: 40px;
}

.playGame {
  position: absolute;
  bottom: 4px;
  left: 42%;
  color: antiquewhite;
  font-size: 23px;
  margin: 5px;
  padding: 7px;
  background: none;
  border: 1px solid aliceblue;
  border-radius: 24px;
}

.playGame:hover {
  background-color: antiquewhite;
  left: 40%;
  font-weight: 900;
  color: #011d38;
  box-shadow: 1px 2px 12px 3px white;
}

.hidden {
  display: none;
}

.btns {
  margin: 23px;
  padding: 8px;
  width: 230px;
  text-align: center;
  display: inline;
  background: transparent;
  color: rgb(255, 0, 0);
  border: 1px solid rgb(203, 107, 107);
  border-radius: 13px;
}

.btns:hover {
  border: none;
  background-color: black;
  box-shadow: 1px 1px 12px 1px rgb(209, 9, 9);
}

hr {
  width: 850px;
  margin: 23px;
  position: absolute;
  left: 23%;
}

.footer {
  position: relative;
  margin: 8px;
  padding: 20px;
  height: 300px;
  color: aliceblue;
}

.writtings {
  position: absolute;
  padding: 30px;
  top: 40px;
  width: 30%;
}

.about {
  position: absolute;
  right: 170px;
  margin: 11px;
  width: 40%;
}

.about ul {
  margin: 5px;
}
.about li {
  list-style-type: none;
  padding: 4px;
}

.about li::marker {
  content: "💻";
}

.contact {
  position: absolute;
  right: 40px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.contact p {
  margin: 6px;
}
.contact img {
  margin: 5px;
  width: 35px;
  height: 35px;
}

.contact img:hover {
  transform: translateY(10px);
}
